<a href="https://colab.research.google.com/github/KIMHYOENJUN/AI_project/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 사전의 구조와 이해

price = {'김밥': 5000, '어묵':3000, '떡볶이': 2000}
item= list(price.items())
print("김밥의 가격은?",item[0])
price.values()

김밥의 가격은? ('김밥', 5000)

dict_values([5000, 3000, 2000])

In [ ]:
# 리스트의 슬라이싱을 사용하여 아래를 출력하세요

tp = [1,2,3,4,5,6,7]

print(tp[0])
print(tp[:-4])
print(tp[-4:])
print(tp[-1])
print(tp[::-1])

1
[1, 2, 3]
[4, 5, 6, 7]
7
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 조건문
# 점수를 입력받아 등급을 출력하세요
# 등급표 81~100	A / 61~80	B / 41~60	C / 21~40	D / 0~20	E

score = int(input("점수를 입력하세요: "))
if (score >= 81): grade = "A"
elif(score >= 61):grade = "B"
elif(score >= 41): grade = "C"
elif(score >= 21): grade = "D"
else: grade = "E"
print('점수는', score,'점이며' '등급은',grade,'등급입니다', grade)

점수를 입력하세요: 67
점수는 67 점이며등급은 B 등급입니다 B

In [1]:
# 함수를 만들고 두 수를 입력받아 연산하세요

a = int(input('첫 번째 정수를 입력하세요: '))
b = int(input('두 번째 정수를 입력하세요: '))

print("덧셈 함수 연산:",a+b)
print("곱셈 함수 연산:",a*b)
print("제곱 함수 연산:",a**b)

첫 번째 정수를 입력하세요: 5
두 번째 정수를 입력하세요: 6
덧셈 함수 연산: 11
곱셈 함수 연산: 30
제곱 함수 연산: 15625

In [ ]:
# 알고리즘 생성
# 피보나치 수열을 계산하는 함수를 생성하고 자연수 10을 넣어 실행하세요
def pivo(n):
  return pivo(n-1) + pivo(n-2) if n >= 2 else n
for n in range(1):
  print(pivo(10))

55

In [ ]:
from typing import AsyncGenerator
# 클래스
# 사람 (Human) 클래스를 정의하고 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

class Human :
   def __init__(self, name, age, gender):
     self.name = name
     self.age = age
     self.gender = gender

   def info(self):
       print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.gender)) 
k = Human("김현준",25,"남자")

k.info()

이름: 김현준, 나이: 25, 성별: 남자
이름: 홍길동, 나이: 40, 성별: 남자